#game-wrapper {
    height: 100vh;
    padding-top: 5rem;
}

.icon-green {
    color: #69cd6d;
}

.icon-red {
    color: red;
}

.display-show {
    display: inline;
}

.display-hide {
    display: none;
}

.stocks-card {
    width: 100%;
    height: 75px;
    background: #f5f4f9;
    border-radius: 5px;
    cursor: pointer;
}

.stocks-card-name {
    width:45%;
}

.stocks-card-today {
    width: 35%;
}

.stocks-card-logo {
    width: 20%;
    padding: 0 10px;
}

.stocks-card-logo-image {
    width: 100%;
    border-radius: 50%;
}

.performance-card {
    width: 100%;
    height: 80px;
    margin: 10px 0px;
    padding: 5px;
    color: #ffffff;
    /* #028cef, #34ba84, #9d67fd */
}

.instruction {
    margin: 5px 0px;
    padding: 10px;
    border: 2px solid #e5eaf6;
    border-radius: 5px;
    font-family: 'League Spartan', sans-serif;
}

.twrr-card {
    background-color: #34ba84;
}

.profits-card {
    background-color: #028cef;
}

.holdings-card {
    background-color: #9d67fd;
}

.bold {
    font-weight: bold;
}