#game-wrapper {
    height: 100vh;
    padding-top: 5rem;
}

.icon-green {
    color: #69cd6d;
}

.icon-red {
    color: red;
}

.stocks-card {
    width: 100%;
    height: 70px;
    background: #f5f4f9;
    border-radius: 5px;
}

.stocks-card-name {
    width:45%;
}

.stocks-card-today {
    width: 35%;
}

.stocks-card-logo {
    width: 20%;
    padding: 0 10px;
}

.stocks-card-logo-image {
    width: 100%;
    border-radius: 50%;
}