 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

 .landing-h1 {
    font-size: 4rem;
    margin: 0;
 }

 .landing-p {
    font-size: 0.8rem;
 }


.landing-btn {
    background-color: #3f8dfb;
    color: #ffffff;
    font-size: 0.8rem;
    border: none;
    box-shadow:
    1.9px 2.2px 2.2px rgba(0, 0, 0, 0.02),
    4.5px 5.2px 5.3px rgba(0, 0, 0, 0.028),
    8.4px 9.8px 10px rgba(0, 0, 0, 0.035),
    15px 17.4px 17.9px rgba(0, 0, 0, 0.042),
    28px 32.6px 33.4px rgba(0, 0, 0, 0.05),
    67px 78px 80px rgba(0, 0, 0, 0.07)
    ;
    width: 10rem;
    display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .landing-banner {
      width: 100%;
  }
  